.task-form {
	display: flex;
	flex-direction: column;
	gap: 1rem; 
	background-color: white;
	padding: 1rem; 
	margin: 3rem; 
	border-radius: 5px; 
}

form input {
	background-color: #f2f4f8;
	border: none; 
	padding: 0.5rem; 
	border-radius: 5px;
}

form button {
	color: white; 
	background-color:#7b74ff;
	border-radius: 5px; 
	padding: 0.5rem; 
	border: none; 
	font-weight: bold; 
}

.no-tasks {
	font-size: 1.5rem; 
}

.error {
	color: red; 
	margin: 1rem; 
}